*.egg-info
qlp/__pycache__/
qlp/example/__pycache__/
tests/
Notes/apikey.txt
Notes/Notes.out
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.log
paper/main.out
paper/main.pdf
paper/main.synctex.gz
*.synctex.gz
__pycache__/
qlpdb/media/
notebooks/~$09-1216A-A_DW_2000Q_6_annealing_schedule.xlsx
.DS_Store
.idea/
paper/.DS_Store
paper/new_figures/.DS_Store
